Source: slurm-fhcrc-plugins
Section: libs
Priority: extra
Maintainer: Michael Gutteridge <mrg@fhcrc.org>
Build-Depends: debhelper (>= 8.0.0), libslurm-dev, flex, bison
Standards-Version: 3.9.3
Homepage: 

Package: slurm-fhcrc-plugins
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: FHCRC specific SPANK plugins
  A subset of the chaos and spank plugins available 
  around the web that are in use at the Center

